<select name="cuisine" id="cuisine">
  <option value="Mexican">Mexican</option>
  <option value="Chinese">Chinese</option>
  <option value="Japanese">Japanese</option>
  <option value="Vietnamese">Vietnamese</option>
  <option value="Mediterranean">Mediterranean</option>
  <option value="Sushi">Sushi</option>
  <option value="Pizza">Pizza</option>
  <option value="Sandwiches">Sandwiches</option>
  <option value="Burgers">Burgers</option>
</select>
