<div class="input">
  <label for="cuisine">Cuisine</label>
  <select name="cuisine" id="cuisine">
    <option value="American (Traditional)">American (Traditional)</option>
    <option value="Asian Fusion">Asian Fusion</option>
    <option value="Bakeries">Bakeries</option>
    <option value="Barbeque">Barbeque</option>
    <option value="Bars">Bars</option>
    <option value="Breakfast & Brunch">Breakfast & Brunch</option>
    <option value="Bubble Tea">Bubble Tea</option>
    <option value="Burgers">Burgers</option>
    <option value="Cafes">Cafes</option>
    <option value="Cajun/Creole">Cajun/Creole</option>
    <option value="Chicken Wings">Chicken Wings</option>
    <option value="Chinese">Chinese</option>
    <option value="Cocktail Bars">Cocktail Bars</option>
    <option value="Coffee & Tea">Coffee & Tea</option>
    <option value="Comfort Food">Comfort Food</option>
    <option value="Desserts">Desserts</option>
    <option value="German">German</option>
    <option value="Gluten-Free">Gluten-Free</option>
    <option value="Indian">Indian</option>
    <option value="Italian">Italian</option>
    <option value="Japanese">Japanese</option>
    <option value="Latin American">Latin American</option>
    <option value="Mediterranean">Mediterranean</option>
    <option value="Mexican">Mexican</option>
    <option value="Middle Eastern">Middle Eastern</option>
    <option value="Pizza">Pizza</option>
    <option value="Pubs">Pubs</option>
    <option value="Ramen">Ramen</option>
    <option value="Salad">Salad</option>
    <option value="Sandwiches">Sandwiches</option>
    <option value="Seafood">Seafood</option>
    <option value="Soul Food">Soul Food</option>
    <option value="Southern">Southern</option>
    <option value="Steakhouses">Steakhouses</option>
    <option value="Sushi Bars">Sushi Bars</option>
    <option value="Tacos">Tacos</option>
    <option value="Thai">Thai</option>
    <option value="Vegan">Vegan</option>
    <option value="Vietnamese">Vietnamese</option>
    <option value="Wine Bars">Wine Bars</option>
    <option value="Wraps">Wraps</option>
  </select>
</div>
