<div class="input">
  <label for="cuisine">Cuisine</label>
  <select name="cuisine" id="cuisine">
    <option value="Bars">Bars</option>
    <option value="Boba">Boba</option>
    <option value="Burgers">Burgers</option>
    <option value="Chicken Wings">Chicken Wings</option>
    <option value="Chinese">Chinese</option>
    <option value="Coffee & Tea">Coffee & Tea</option>
    <option value="Comfort Food">Comfort Food</option>
    <option value="Desserts">Desserts</option>
    <option value="Indian">Indian</option>
    <option value="Italian">Italian</option>
    <option value="Japanese">Japanese</option>
    <option value="Mediterranean">Mediterranean</option>
    <option value="Mexican">Mexican</option>
    <option value="Mexican">Mexican</option>
    <option value="Middle Eastern">Middle Eastern</option>
    <option value="Pizza">Pizza</option>
    <option value="Ramen">Ramen</option>
    <option value="Sandwiches">Sandwiches</option>
    <option value="Seafood">Seafood</option>
    <option value="Steakhouses">Steakhouses</option>
    <option value="Sushi Bars">Sushi Bars</option>
    <option value="Tacos">Tacos</option>
    <option value="Thai">Thai</option>
    <option value="Vegan">Vegan</option>
    <option value="Vietnamese">Vietnamese</option>
  </select>
</div>
