{{!-- <form id="filterRestaurants">
  {{#each selectedFilters}}
    <select name="" id="" multiple>
      {{#each optionDict[this]}}
        <option value={{this}}></option>
      {{/each}}
    </select>
  {{/each}}
</form> --}}

<form method="GET" action="/">

  {{#if neighborhood}}
    {{> neighborhoods}}
  {{/if}}

  {{#if cuisine}}
    {{> cuisines}}
  {{/if}}

  {{#if price}}
    {{> prices}}
  {{/if}}

  {{#if ritual}}
    {{> rituals}}
  {{/if}}

  <input type="submit" value="Submit">
</form>
