<select name="neighborhood">
  <option value="Financial District">Financial District</option>
  <option value="Cow Hollow">Cow Hollow</option>
  <option value="Nob Hill">Nob Hill</option>
  <option value="Chinatown">Chinatown</option>
  <option value="The Mission">The Mission</option>
</select>
