<label for="neighborhood">Neighborhood</label>
<select name="neighborhood">
  <option value="Financial District">Financial District</option>
  <option value="Nob Hill">Nob Hill</option>
  <option value="Chinatown">Chinatown</option>
  <option value="Mission District">Mission District</option>
  <option value="SoMa">SoMA</option>
  <option value="Marina">Marina</option>
  <option value="North Beach">North Beach</option>
  <option value="Tenderoin">Tenderloin</option>
  <option value="Portrero Hill">Portrero Hill</option>
  <option value="Embarcadero South">Embarcadero South</option>
  <option value="Embarcadero North">Embarcadero North</option>
  <option value="North of Market">North of Market</option>
  <option value="Hayes Valley">Hayes Valley</option>
  <option value="Castro/Noe Valley">Castro/Noe Valley</option>
  <option value="Western Addition/Japantown/Pacific Heights">Western Addition/Japantown/Pacific Heights</option>
  <option value="Outer Sunset">Outer Sunset</option>
  <option value="Haight-Ashbury">Haight-Ashbury</option>
  <option value="Inner Richmond">Inner Richmond</option>
  <option value="Outer Richmond">Outer Richmond</option>
  <option value="Sunset">Sunset</option>
  <option value="Presidio">Presidio</option>
  <option value="North Beach">North Beach</option>
</select>
