<label for="price">Price</label>
<select name="price" id="price">
  <option value="$">$</option>
  <option value="$$">$$</option>
  <option value="$$$">$$$</option>
  <option value="$$$$">$$$$</option>
</select>
