
<section id="start">
  <h2>How do you want to search?</h2>
  <form id="getParameters" method="GET" action="/">

    <label for="neighborhood">Neighborhood</label>
    <input name="filters[neighborhood]" id="neighborhood" type="checkbox"> <br> <br>

    <label for="cuisine">Cuisine</label>
    <input name="filters[cuisine]" id="cuisine" type="checkbox"> <br><br>

    <label for="price">Price</label>
    <input name="filters[price]" id="price" type="checkbox"> <br><br>

    <label for="ritual">Available On Ritual</label>
    <input name="filters[ritual]" id="ritual" type="checkbox"> <br> <br>

    <input type="submit" value="Submit">
  </form>
</section>
