<header>
  <h1>Find Me Food Fast!</h1>
</header>

<h2>
  Start finding restaurants by clicking the button below!
</h2>

<form action="/search">
<input type="submit" name="" id="" value="Click Me!">
</form>
