<header>
  <h1>Find Me Food Fast!</h1>
</header>

<h2>Finding you a great restaurant in San Francisco!</h2>
<h3>
  Start finding restaurants by clicking the button below!
</h3>

<form action="/search">
<input type="submit" name="" id="" value="Click Me!">
</form>
