{{!-- {{> fancyRestaurants}}
{{> casualRestaurants}}

<h2>Yelp recommendation:</h2>
{{#if listExists}}
  <ul>
    {{#each yelp}}
      <li>{{this.restaurant}} - {{this.city}}</li>
    {{/each}}
  </ul>
{{/if}}
 --}}

<header>
  <h1>Find Me Food Fast!</h1>
</header>

{{#if selectedFilters}}
  {{> filterPage}}
{{else}}
  {{> startPage}}
{{/if}}
